@{
    ViewBag.Title = "New";
}

<h2 class="mb-4">Add New Post</h2>

<a href="/Post/List" class="btn btn-lg btn-info mb-4"><i class="fa-solid fa-chevron-left p-2 me-2"></i>Go back to list</a>

<form action="/Post/Create" method="post" class="row">
    <div class="form-group col-md-6 mb-3">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
    <div class="form-group col-12 mb-3">
        <label for="Caption">Caption</label>
        <textarea class="form-control" id="Caption" name="Caption" rows="5" required></textarea>
    </div>
    <div class="form-group col-md-6 mb-3 d-none">
        <label for="ImageFile">Upload Image</label>
        <input type="file" class="form-control" id="ImageFile" name="ImageURL" accept="image/gif, image/jpeg, image/jpg, image/png" />
    </div>
    <input type="hidden" class="form-control" id="PostDate" name="PostDate" value ="@DateTime.Today.ToShortDateString()" required />
    <input type="hidden" name="EmployeeId" value="@ViewBag.EmployeeId" />

    <div>
        <input class="btn btn-secondary" type="submit" value="Add Post" />
    </div>
</form>
