@model IEnumerable<AmazonPupSpace.Models.EmployeeDto>
@{
    ViewBag.Title = "List";
}

<h2 class="mb-4">List of employees</h2>
<a href="/Employee/New" class="btn btn-primary mb-4"><i class="fa-solid fa-plus me-2 p-2"></i>New Employee </a>
    <div class="row">
        @foreach (var employee in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <a class="employee-card rounded-4" href="/Employee/Details/@employee.EmployeeId">
                    <div class="card text-center p-3 rounded-4 ">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize">@employee.FirstName @employee.LastName</h4>
                            <small class="text-light-emphasis">@employee.HireDate</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>