@model AmazonPupSpace.Models.DepartmentDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2 class="text-center mb-3">Are you sure you want to delete this Department?</h2>
<h2 class="text-center text-danger-emphasis display-6">@Model.DepartmentName Id:  @Model.DepartmentId</h2>
<div class=" text-center fs-6"><strong>Department Manager:</strong> @Model.DepartmentManager</div>

<div class="d-flex align-items-center justify-content-center mt-4">
    <a href="/Post/List" class="btn btn-danger  me-2 mb-2">Cancel</a>
    <form action="/Department/Delete/@Model.DepartmentId" method="POST">
        <input class="btn btn-success mb-2" type="submit" value="Confirm Delete" />
    </form>
</div>

