@model IEnumerable<AmazonPupSpace.Models.DepartmentDto>
@{
    ViewBag.Title = "List";
}

<h2 class="mb-4">List of Departments</h2>

<a href="/Department/New" class="btn btn-primary mb-4"><i class="fa-solid fa-plus me-2 p-2"></i>New Department</a>

    <div class="row">
        @foreach (var department in Model)
        {
            <div class="employee-card-block col-12 col-md-6 col-lg-4">
                <a class="employee-card rounded-4" href="/Department/Details/@department.DepartmentId">
                    <div class="card text-center p-3 rounded-4 ">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize mb-0">@department.DepartmentName</h4>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
