﻿@model IEnumerable<AmazonPupSpace.Models.DogDto>
@{
    ViewBag.Title = "List";
}

<h2 class="mb-4">List of Dogs</h2>
<a href="/Dog/New" class="btn btn-primary mb-4"><i class="fa-solid fa-plus me-2 p-2"></i>Add a Pup</a>
<ol>

    @foreach (var dog in Model)
    {
        <li>
            <h3 class="text-capitalize"><a href="/Dog/Details/@dog.DogId">@dog.DogName</a></h3>
        </li>
    }
</ol>