﻿@model AmazonPupSpace.Models.ViewModels.AddDog
@{
    ViewBag.Title = "New";
}

<h2  class="mb-4">Add your Pup</h2>
<a href="/Dog/List" class="btn btn-lg btn-info mb-4"><i class="fa-solid fa-chevron-left p-2 me-2"></i>Go back to list</a>
<div class="row">
    <div class="col-md-6">
        <form action="/Dog/Create" method="post">
            <div class="mb-3">
                <label class="form-label">Name:</label>
                <input  class="form-control" type="text" name="DogName" />
            </div>
            <div class="mb-3">
                <label class="form-label">Age (years):</label>
                <input class="form-control" type="number" name="DogAge" />
            </div>
            <div class="mb-3">
                <label class="form-label">Breed:</label>
                <input class="form-control" type="text" name="DogBreed" />
            </div>
            <div class="mb-3">
                <label class="form-label">Birthday:</label>
                <input id="DogBirthday" class="form-control" type="date" name="DogBirthday" />
            </div>
            <div class="mb-3">
                <label class="form-label">Owner</label>
                <select class="form-select" name="EmployeeId">
                    @foreach (var employee in Model.EmployeeOptions)
                    {
                        <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName </option>

                    }
                </select>
                </div>
                <input class="btn btn-secondary" type="submit" value="Add your Pup" />
        </form>
    </div>
</div>
<script>
    // Set the maximum date for the input field
    document.getElementById("DogBirthday").setAttribute("max", today);
</script>