@model IEnumerable<AmazonPupSpace.Models.TrickDto>
@{
    ViewBag.Title = "List";
}

<h2 class="mb-4">List of Tricks</h2>
<a href="/Trick/New" class="btn btn-primary mb-4"><i class="fa-solid fa-plus me-2 p-2"></i>New Trick</a>
<ol>

    @foreach (var trick in Model)
    {
    <li>
        <h3><a href="/Trick/Details/@trick.TrickId">@trick.TrickName</a></h3>
    </li>
    }
</ol>

